:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    position: relative;
    width: 100%;
    display: block;
}

body > * {
    margin: auto;
    padding: 0 12px 0 12px;
    display: block;
    overflow: auto;
}

body > script {
    display: none
}